// @import "bootstrap/bootstrap";

// @btn-font-weight: 300;
// @font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
	padding-top: 40px;
}

%laravel {
	font-size: 10px;
	&:before {
		content: "is awsome";
		content: "lorem";
	}
}
